<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= name %></title>
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/build/css/app.css">
    <link rel="stylesheet" href="/build/css/fonts.css">

    <% if (modernizr || foundation) { %>
    <script src="/build/js/modernizr.min.js"></script>
    <% } %>

</head>

<body>
<script type="text/x-handlebars">
    {{outlet}}
</script>
<script src="/build/js/app.js"></script>
</body>

</html>
